<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feliz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text color="dark" class="texto">
      <h1>Ingrese brevemente el motivo por el cual se sintió feliz </h1>
    </ion-text >
  </ion-item>
<ion-item>
    <ion-textarea [(ngModel)]="inputText" rows="10" autocapitalize="true" clearOnEdit="true" placeholder="Ingrese descripción aquí: "></ion-textarea>
  </ion-item>
  <div class="ion-padding">  
    <ion-button (click)="postData()"expand="block" class="ion-no-margin">Enviar</ion-button>
    <ion-button (click)="getData()"expand="block" class="ion-no-margin">Mostrar</ion-button>
  </div>

</ion-content>
