<ion-header>
  <ion-toolbar color ="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Base de Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  
  <ion-list>
 
    <ng-container *ngIf="!listas || listas.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding >

      <ion-list>
      <div *ngFor="let res of listas">        
        <h1>{{res.createdAt | date: 'dd/MM/yyyy HH:mm'}}</h1>
        <h2>{{res.emocion}}</h2>     
        <h3>{{res.descripcion}}</h3>
      </div>
    </ion-list>

        <ion-item-options side="end">
        <ion-item-option color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
 

</ion-content>
