ion-slides {
    height: 100%;
}

.feliz {
    height: 80%;
}

.triste {
    height: 80%;
}

.enojado {
    height: 80%;
}

.deprimido {
    height: 80%;
}

.neutral {
    height: 80%;
}

.texto {
    font-size: 0;
}

.happy-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.sad-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.angry-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.depressed-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.neutral-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }

