ion-slides {
    height: 85%;
}

.feliz {
    height: 90%;
}

.triste {
    height: 90%;
}

.enojado {
    height: 90%;
}

.deprimido {
    height: 90%;
}

.neutral {
    height: 90%;
}

.texto {
    text-align: center;
    
}



.happy-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.sad-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.angry-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.depressed-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }
.neutral-card img {
    margin: auto;
    margin-top: 10px;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    
  }

