<ion-header>
  <ion-toolbar color ="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

    <ion-text color="dark" class="texto">

      <h1>Bienvenido/a a HeartTutor App para pacientes.</h1>
      
    </ion-text>
    <ion-col class="ion-padding-end">
      <div>
        Esta aplicación te permitirá registrar tus emociones para que tú y el profesional a cargo puedan llevar un 
      correcto monitoreo de estas
      </div>
    </ion-col>
    
    <ion-button (click)="onLogout()"> Logout </ion-button>

</ion-content>
